.active
{
color:green;
}
.disactive
{
color:red;
}
.cont{
position:absolute;
height:430px;
width:550px;
top:100px;
left:410px;
background-color:lightgrey;
}
.chatbox{
position:absolute;
top:76px;
left:592px;
height:550px;
background-color:lightgreen;
width:500px;
}
.greybox{
position:absolute;
top:76px;
left:242px;
width:350px;
height:550px;
background-color:lightgrey;
overflow-y:auto;
}
.msginput{
position:fixed;
left:592px;
top:597px;
width:500px;
z-index:1;
overflow-y:auto;
}
.saybtn
{
background-color:grey;
color:white;
}
