<!doctype html>
<html>
<head>
<link rel='stylesheet'	href='/images/chat1.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="/images/doctor4.css" rel="stylesheet" type="text/css" />
<link href="/images/doctor2.css" rel="stylesheet" type="text/css" />
<link href="/images/style2.css" rel="stylesheet" type="text/css" />
<link href="/images/project5style.css" rel="stylesheet" type="text/css" />
<link href="/images/containerandback.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="./assets2/project5addc.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark  navbar-fixed-top">
  <a class="navbar-brand" href="/">kONNECT</a>
  <button class='btn btn-outline-success my-2 my-sm-0 onleft' onclick='check()'>Already a user</button>
  <button class='btn btn-outline-success my-2 my-sm-0 onleft' onclick='login()'>Login</button>
</nav>
<br><br>
<br>
<br>
<div class='maincont'>

<div id='uid'></div>
<div id='approved'></div>
<div id='final'></div>
<br><br>

<div class='container' id='cont1'>
<h2>Add Phone Number</h2>
<form action='/msg' method="post">

	<div class="form-group">
 		<lable for='number'>Phone Number</lable>
  		<input type="text" class="form-control" name="number">
  	</div>
  		
  	<button type="submit" class='btn btn-success'>Send</button><br><br>

</form>
</div>


</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket=io.connect();
	function check(){

		document.getElementById('cont1').style.display='none';
		document.getElementById('uid').style.display='block';
		document.getElementById('uid').innerHTML = '<div class="container"><h2 class="hd">Enter Credentials</h2><form><div class="form-group"><label for="name">Enter Name</label><input type="text" class="form-control" name="name" id="name"></div><div class="form-group"><label for="number">Enter Number</label><input type="text" class="form-control" name="number" id="number"></div><button type="button" class="btn btn-success" onclick = "checkUid2()">Check</button></form></div>';
	}

	function checkUid2(){
		const name =document.getElementById('name').value;
		const number =document.getElementById('number').value;
		socket.emit('checkuid',{name:name,number:number});
	}
	
	socket.on('userfound',function(data){
		const name = data.usr;
		document.getElementById('approved').innerHTML += '<h2 class="add">Approved .. Click this button to Enter and chat</a>' + 
				'<div class="container"><form method="post" action="/directenter/' + name + '"' + '><button type="submit" class="btn btn-success">Enter</button></form></div>';
	});

	function login(){
		document.getElementById('uid').style.display='none';
		document.getElementById('approved').style.display='none';
		document.getElementById('cont1').style.display='block';
	}

</script>
</html>